<%- include('partials/header') -%>

  <HR>
    <div class="alert alert-primary">
      <H1>
        PERSONAL PROFILE PAGE ! - 
          <%= customerlist[0].Name %>
        </H1>
    </div>
    <HR>

    <P><img src="/images/<%= customerlist[0].urlImg%>"></P>



<%- include('partials/footer') -%>
